/*!
Theme Name: Essity Academy
Theme URI: http://underscores.me/
Author: the Umbrella Digital team
Author URI: https://www.umbrella.co/digital
Description: The Essity Academy custom theme.
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: essityacademy
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Essity Academy is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
# Essity Academy
--------------------------------------------------------------*/

/* Login
--------------------------------------------- */

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("img/ea_bg_login.png");
  background-position: right center;
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.login-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login-form {
  width: 30%;
  max-width: 30%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo {
  width: 50%;
  max-width: 50%;
}

.form-input {
  background-color: #bb337f;
  color: #ffffff;
  font-size: 1rem;
  padding: 12px 20px;
  text-align: center;
  border-radius: 50px;
  margin-bottom: 20px;
  border: 0 none;
  width: 60%;
  outline: 0;
}

.form-input::placeholder {
  color: #ffffff;
}

.form-label {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  /* padding-left: 35px; */
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form-checkmark {
  position: relative;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 3px #bb337f solid;
  border-radius: 50%;
  margin-right: 15px;
}

.form-label:hover input ~ .form-checkmark {
  background-color: #ddd;
}

/* When the checkbox is checked, add a blue background */
.form-label input:checked ~ .form-checkmark {
  background-color: #bb337f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.form-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.form-label input:checked ~ .form-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.form-label .form-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-label a {
	color: #222258;
	text-decoration: none;
}

.form-btn {
  background-color: #222258;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 20px;
  text-align: center;
  border-radius: 50px;
  margin-bottom: 20px;
  border: 0 none;
  outline: 0;
  cursor: pointer;
}
